@model Website_EcommerceShoe_ASPNETMVC.Models.EF.Order
@using Website_EcommerceShoe_ASPNETMVC.Models;
@{
    var userName = "";
    var email = "";
    var phone = "";
    var address = "";
    var user = ViewBag.User;
    if (user != null)
    {
        userName = user.Name;
        email = user.Email;
        phone = user.PhoneNumber;
        address = user.Address;
    }
}

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="background-color: white; color:black;">
    <div class="container py-5">
        <div class="card">
            <h2 class="text-center pt-3"><span class="far fa-check-square pe-2 "></span><b> TANA </b> | Pay</h2>
            <div class="card-body row">
                <div class="col-lg-6" style="padding-left: 30px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            Full Name
                            @Html.EditorFor(model => model.NameCustomer, new { htmlAttributes = new { @class = "form-control", @Value = userName } })
                        </p>
                        <p>
                            Phone Number
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @Value = phone } })

                        </p>
                        <p>
                            Address
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @Value = address } })

                        </p>
                        <p>
                            Email
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value = email } })

                        </p>
                        <p class="mt-3">
                            Note
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })

                        </p>
                        <div class="rounded d-flex" style="background-color: #f8f9fa;">

                        </div>
                        <hr />
                        <div class="pt-2">

                            <form class="pb-3">
                                <div class="d-flex flex-row pb-3">
                                    <div class="d-flex align-items-center pe-2">
                                        <input class="form-check-input" type="radio" name="TypePayment" value="1" aria-label="..." checked />
                                    </div>
                                    <div class="rounded border d-flex w-100 p-3 align-items-center">
                                        <p class="mb-0">
                                            <i class="fa-solid fa-money-bill fa-lg text-dark pe-2"></i> Payment on delivery (COD)
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row pb-3">
                                    <div class="d-flex align-items-center pe-2">
                                        <input class="form-check-input" type="radio" name="TypePayment" value="2" aria-label="..." checked />
                                    </div>
                                    <div class="rounded border d-flex w-100 p-3 align-items-center">
                                        <p class="mb-0">
                                            <i class="fa-solid fa-wallet fa-lg text-dark pe-2"></i> Momo Wallet
                                        </p>
                                    </div>
                                </div>


                            </form>
                            <input type="submit" value="Proceed to payment" class="btn btn-outline-dark btn-block btn-lg" />
                        </div>
                    }
                </div>
                <div class="col-lg-6">

                    @Html.Action("Partial_Item_Checkout", "ShoppingCart")
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    body {
        background-color: white !important;
        background-image: none !important;
    }

    a {
        text-decoration: none !important;
    }
</style>

