
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-page">
    <div class="content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <form class="d-flex">

                            <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                        </form>
                    </div>
                    <h4 class="page-title">Dashboard</h4>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-5 col-lg-6">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-arrow-bottom-right-thin-circle-outline widget-icon text-bg-warning text-bg-warning"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Tổng số sản phẩm</h5>
                                <h3 class="mt-3 mb-3"> @ViewBag.countProduct</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-cart-plus widget-icon text-bg-warning text-bg-warning"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Sản phẩm đã bán</h5>
                                <h3 class="mt-3 mb-3">@ViewBag.toTalOrders</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->


                </div> <!-- end row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-alert-octagon-outline widget-icon text-bg-warning text-bg-warning"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Products DeAct">Sản phẩm đang dừng</h5>
                                <h3 class="mt-3 mb-3">@ViewBag.toTalProductsDeAct</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Tài khoản admin</h5>
                                <h3 class="mt-3 mb-3">@ViewBag.toTalAdmins</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-account-cash widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Products Activate">Sản phẩm đang bán</h5>
                                <h3 class="mt-3 mb-3">@ViewBag.toTalProductsActivate</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Tổng số hoá đơn</h5>
                                <h3 class="mt-3 mb-3">@ViewBag.toTalHoaDon</h3>
                                <p class="mb-0 text-muted">

                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->


                </div> <!-- end row -->





            </div> <!-- End Content -->
            <!-- content-page -->
            <div class="col-xl-5 col-lg-6">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-currency-usd widget-icon text-bg-warning text-bg-warning"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Lợi nhuận</h5>
                        <p class="mb-0 text-muted">

                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-alert-octagon-outline widget-icon text-bg-warning text-bg-warning"></i>

                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Sản phẩm hết hàng</h5>
                        <h3 class="mt-3 mb-3"> @ViewBag.toTalOutStock</h3>
                        <p class="mb-0 text-muted">

                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-account-multiple widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Tài khoản khách hàng</h5>
                        <h3 class="mt-4 mb-3"> @ViewBag.toTalUsers</h3>
                        <p class="mb-0 text-muted">

                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div> <!-- end wrapper-->
    </div>

