@using PagedList.Mvc;
@model PagedList.PagedList<Website_EcommerceShoe_ASPNETMVC.Models.EF.Order>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section style="padding-top: 30px" class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Danh sách hoá đơn</h2>
            <div class="card-tools">
                <a class="btn btn-outline-primary" href="@Url.Action("ExportExcel")"><i class="fa-solid fa-file-excel"></i> Export Excel</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã hoá đơn</th>
                        <th>Tên khách hàng</th>
                        <th>SĐT </th>
                        <th>Email</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th>Thanh toán</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.Id">
                                <td>@item.Code</td>
                                <td>@item.NameCustomer</td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.DateOrder
                                </td>
                                <td>$@String.Format("{0:0}", item.TotalAmount)</td>
                                <td>
                                    @if (item.TypePayment == 1)
                                    {
                                        <span class="badge bg-success">COD</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Momo</span>
                                    }
                                </td>
                                <td>
                                    <a href="/Admin/QLOrder/Detail/@item.Id" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có sản phẩm nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</section>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("QLProduct", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item btn btn-sm btn-primary mx-1" } })
</div>

<style>
    .page-item a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
</style>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa sản phẩm này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/QLOrder/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        },
                    });
                }
            });
        });
    </script>
}