@model Website_EcommerceShoe_ASPNETMVC.Models.EF.ProductSale

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item h5"><a href="/Admin/QLProduct/QLProductSale"> <i class="uil-dollar-sign-alt"></i> Quản lý sale</a></li>
        <li class="breadcrumb-item h5">Chỉnh sửa sale</li>
    </ol>
</nav>

<section class="bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center ">Sửa khuyến mãi</h2>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    Tên Sale
                                    <div>
                                        @Html.EditorFor(model => model.namePS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.namePS, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div>
                                    Mô tả
                                    <div>
                                        @Html.EditorFor(model => model.descriptionPS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.descriptionPS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    Giảm theo %
                                    <div>
                                        @Html.EditorFor(model => model.priceSalePS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.priceSalePS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    Giảm theo %
                                    <div>
                                        @Html.EditorFor(model => model.salePSPhanTram, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.salePSPhanTram, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    Ngày bắt đầu
                                    <div>
                                        @Html.EditorFor(model => model.dateStartSale, new { htmlAttributes = new { @class = "form-control", @type = "date"}})
                                    </div>
                                </div>
                                <div>
                                    Ngày kết thúc
                                    <div>
                                        @Html.EditorFor(model => model.dateEndSale, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                    </div>
                                </div>
                                <div>
                                    Số lượng
                                    <div>
                                        @Html.EditorFor(model => model.quantityPS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.quantityPS, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center align-items-center">
                                    <a class="btn btn-dark" href="/Admin/QLProduct/QLProductSale"><i class="fa-solid fa-chevron-left"></i> Quay lại</a>
                                    <input type="submit" value="Sửa danh mục" class="btn btn-success m-3" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>