@using PagedList.Mvc;
@model PagedList.PagedList<Website_EcommerceShoe_ASPNETMVC.Models.EF.ProductSale>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section style="padding-top: 30px" class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Danh sách mã sale</h2>
            <div class="card-tools">
                <a href="/Admin/QLProduct/AddProductSale" class="btn btn-success">Thêm sự kiện sale</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên sale</th>
                        <th>Mô tả</th>
                        <th>Giá giảm </th>
                        <th>Giảm theo % </th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Số lượng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.idPS">
                                <td>@item.namePS</td>
                                <td>@item.descriptionPS</td>
                                <td>
                                    @if (item.priceSalePS != null)
                                    {
                                        <p>$@String.Format("{0:0}", item.priceSalePS)</p>
                                    }
                                    else
                                    {
                                        <p>NULL</p>
                                    }
                                </td>
                                <td>
                                    @if (item.salePSPhanTram != null)
                                    {
                                        <p>@String.Format("{0:0}", item.salePSPhanTram)%</p> 
                                    }
                                    else
                                    {
                                        <p>NULL</p>
                                    }
                                </td>

                                <td>
                                    @item.dateStartSale
                                </td>
                                <td>
                                    @item.dateEndSale
                                </td>
                                <td>
                                    @item.quantityPS
                                </td>

                                <td width="170px">
                                    <a href="/Admin/QLProduct/ListSale/@item.idPS" class="btn btn-sm btn-success"><i class="fa-solid fa-list"></i></a>
                                    <a href="/Admin/QLProduct/EditSale/@item.idPS" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" data-id="@item.idPS" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có sản phẩm nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</section>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("QLProductSale", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item btn btn-sm btn-primary mx-1" } })
</div>

<style>
    .page-item a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
</style>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa mã sale này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/QLProduct/DeleteProductSale',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        },
                    });
                }
            });
        });
    </script>
}